/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 199, 199);
}

/* Utilies */
.container{

}

/* Header */
header{
    padding-top: 10px;
    padding-left: 20px;
    height: 80px;
    background-color: white;
}

#logo{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

h1{
    display: inline;
    font-weight: 900;
    font-size: 40px;
    vertical-align: middle;
}

/* Main */