/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 38, 255, 0.418);
    margin-bottom: 5%;
}

/* Utilies */
.container{
    width: 50%;
    margin: 30px auto;
}

/* Header */
header{
    padding-top: 10px;
    padding-left: 20px;
    height: 80px;
    background-color: white;
}

#logo{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

h1{
    display: inline;
    font-weight: 900;
    font-size: 40px;
    vertical-align: middle;
}

/* Nav */
nav{
    background-color: white;
    height: 55px;
    border-radius: 5px 5px 0 0;
    padding-inline-start: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

button{
    display: inline-block;
    height: 30px;
    padding: 5px;
    padding-inline: 2%;
    margin-right: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
}

/* Main */
main{
    background-color: white;
    margin-top: 2px;
    padding: 5%;
}

section{
    margin-bottom: 50px;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 8px;
}

.section-down-symbol{
    vertical-align: middle;
    font-size: 8px;
    margin: 4px;
}

.section-header{
    margin-bottom: 20px;
}

.item-check{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    font-size: 10px;
    color: rgb(0, 150, 0);
    border: 1px solid rgb(0, 150, 0);
    border-radius: 50%;
    height: 17px;
    width: 17px;
    padding: 2px;
    margin: 5px;
}

.item-null{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    font-size: 10px;
    color: rgb(150, 0, 0);
    border: 1px solid rgb(150, 0, 0);
    border-radius: 50%;
    height: 17px;
    width: 17px;
    padding: 2px;
    margin: 5px;
}

.item-subject{
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    background-color: #45ABEA;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
}

/*Item subject colors*/
.item-subject.B{
    background-color: #9C72E4;
}

.item-subject.C{
    background-color: #64C0A9;
}

.item-subject.D{
    background-color: #F29E33;
}

.item-subject.E{
    background-color: #D863A1;
}

.item-subject.F{
    background-color: #B0C926;
}