/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 199, 199);
}

/* Utilies */
.container{
    width: 50%;
    margin: 30px auto;
}

/* Header */
header{
    padding-top: 10px;
    padding-left: 20px;
    height: 80px;
    background-color: white;
}

#logo{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

h1{
    display: inline;
    font-weight: 900;
    font-size: 40px;
    vertical-align: middle;
}

/* Nav */
nav{
    background-color: white;
    height: 55px;
    border-radius: 5px 5px 0 0;
    padding-inline-start: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

button{
    display: inline-block;
    height: 30px;
    padding: 5px;
    padding-inline: 2%;
    margin-right: 3px;
    background-color: rgb(0, 145, 235);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(115, 115, 115);
}